<div class="bodycont">
    <div *ngFor="let section of sections; let i = index" [ngClass]="{'section': true, 'visible': i === currentSection}">
        <div class="progress">
            <span *ngFor="let step of progressSteps" class="step" [ngClass]="{'active': step}"></span>
          </div>
      <h2>{{ section.title }}</h2>
      <p>{{ section.description }}</p>
  
      <div *ngIf="section.options">
        <div class="option-button" (click)="toggleOption(option)" *ngFor="let option of section.options"
          [ngClass]="{'selected': option.selected}">
          {{ option.name }}
        </div>
      </div>
    </div>
    <div class="button-container">
      <div class="options" *ngIf="currentSection > 0">
        <button id="backBtn" (click)="goBack()">Back</button>
      </div>
      <div class="options" *ngIf="currentSection < sections.length - 1">
        <button id="nextBtn" (click)="goNext()">Next</button>
      </div>
      <div class="options" *ngIf="currentSection === sections.length - 1">
        <a id="viewMoreBtn" href="homepage.html"><button>Explore More</button></a>
      </div>
    </div>
  </div>
