@import '../../assets/css/variables.css';

  
@font-face {
    font-family: 'Sodosans';
    src: url('../../assets/fonts/sodosans/SoDoSans-Regular.woff2') format('woff2'),
         url('../../assets/fonts/sodosans/SoDoSans-Regular.woff') format('woff');
  }
  

h1,
h2,
h3,
h4,
h5,
h6,
p,
label, button, .option-button {
  font-family: 'Sodosans';
}

.section {
    display: none;
    margin-top: 40px;
}
.visible {
    display: block;
}
button {
    margin-top: 10px;
    margin-right: 10px;
}
.progress {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-color: white;
}

.step {
    width: 20px;
    height: 5px;
    background-color: #ddd;
    margin: 0 5px;
    display: inline-block;
  }
  
  .step.active {
    background-color: #ffd800; /* Color for active step */
  }
  

.bodycont {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden;
    background-size: cover; /* Adjust as needed */
  background-position: center center; /* Adjust as needed */
  background-repeat: no-repeat;
    background-image: url('../../assets/img/reg_bg.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;

}

.section {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 800px;
    height: 580px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: transform 0.5s;
}

.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideOutRight {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#backBtn {
    background-color: #555555;
    color: #fff;
}

#nextBtn {
    background-color: #ffd800;
    color: #242726;
}

#viewMoreBtn button {
    background-color: #ffd800;
    color: #242726;
}

button:focus {
    outline: none;
}

h2 {
    color: #013227;
    
}

p {
    color: #555;
    margin-top: -10px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 14px;
    
}
.option-button {
    padding: 10px 7px;
    border: 2px solid #013227;
    width: 100px;
    margin: 12px;
    margin-left: 2%;
    border-radius: 10px;
    cursor: pointer;
    color: #013227;
    width: calc(33.33% - 80px); /* Adjust width for three columns */
    display: inline-block;
  }
  .option-button.selected {
    background-color: #013227; /* Change this color to the selected color */
    color: #fff;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .options {
    margin: 0 10px; /* Add some space between buttons */
  }


button:hover {
    opacity: 0.8;
}

/* Media Queries for Tablet */
@media (max-width: 768px) {
    .section {
        height: 520px; /* Adjust the height for tablet */
    }

    body{
        background-size: 100% 100vh;
    }

    
    .option-button {
        padding: 10px 20px;
        border: 2px solid #013227;
        width: 100px;
        margin: 5px;
        margin-left: 0;
        border-radius: 10px;
        cursor: pointer;
        color: #013227;
        width: calc(33.33% - 10px); /* Adjust width for three columns */
        display: inline-block;
        font-size:11px ;
      }
}

/* Media Queries for Phones */
@media (max-width: 480px) {
    .section {
        height: 500px; /* Adjust the height for phone */
    }
    body {
        max-width: 100%; /* Allow full width on smaller screens */
        padding: 10px;
        background-size: 100% 100vh; /* Adjust padding for smaller screens */
    }
    .progress {
        margin-bottom: 20px; /* Adjust margin for progress */
    }
    p {
        color: #555;
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
       
        
    }

    .option-button {
        padding: 10px 4px;
        border: 2px solid #013227;
        width: 100px;
        margin: 5px;
        margin-left: 0;
        border-radius: 10px;
        cursor: pointer;
        color: #013227;
        width: calc(33.33% - 10px); /* Adjust width for three columns */
        display: inline-block;
        font-size:11px ;
      }
}
