  
@import '../../assets/css/variables.css';

.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideOutRight {
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#backBtn {
    background-color: #555555;
    color: #fff;
}

#nextBtn {
    background-color: #ffd800;
    color: #242726;
}

#viewMoreBtn button {
    background-color: #ffd800;
    color: #242726;
}
