@import '../../assets/css/variables.css';

@media (max-width: 768px) {
    .section {
        height: 520px; 
    }

    body{
        background-size: 100% 100vh;
    }

    
    .option-button {
        padding: 10px 20px;
        border: 2px solid #013227;
        width: 100px;
        margin: 5px;
        margin-left: 0;
        border-radius: 10px;
        cursor: pointer;
        color: #013227;
        width: calc(33.33% - 10px); 
        display: inline-block;
        font-size:11px ;
      }
}


@media (max-width: 480px) {
    .section {
        height: 500px;
        margin-top: 46px;
    }
    body {
        max-width: 100%;
        padding: 10px;
        background-size: 100% 100vh; }
    .progress {
        margin-bottom: 20px; 
    }
    p {
        color: #555;
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 12px;
       
        
    }

    .option-button {
        padding: 10px 4px;
        border: 2px solid #013227;
        width: 100px;
        margin: 5px;
        margin-left: 0;
        border-radius: 10px;
        cursor: pointer;
        color: #013227;
        width: calc(33.33% - 10px); 
        display: inline-block;
        font-size:11px ;
      }
}
