<app-admin-nav></app-admin-nav>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <i class="bi bi-list iconbi"></i>
        </div>

        <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <i class="bi bi-search iconbi"></i>
            </label>
        </div>

        <div class="user">
            <img src="../../../assets/img/customer01.jpg" alt="">
        </div>
    </div>

    <!-- ======================= Cards ================== -->
   
    <!-- ================ Order Details List ================= -->
    <div class="regdetails">
        <div class="container mt-4">
         
        </div>
        <div class="recentOrders">
           

            <div class="cardHeader">
                <h2>Posts</h2>
           
            </div>

            <table>
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Title</td>
    
                        <td>Name of Establishment</td>
                        <td>Filter</td>
                        <td>View</td>
                        <td>Action</td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let post of postList">
                        <td>{{post.date + '/' + post.month + '/' + post.year}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.location}}</td>
                        <td>{{post.category}}</td>
                        <td>
                            <button class="viewButton">View</button>
                            <div class="popup">
                                <div class="popup-content">
                                    <span class="close">&times;</span>
                                    <h2>Other Information</h2>
                                    <div>
                                        <br>
                                        <strong>Description</strong>
                                        <br>
                                       <p>hellllllllllllllllllllllllllllllllllllllllllllllllllllllllooooooooooooooooooooooooooo</p>
                                        <br>
                                        <strong>Photos</strong>
                                      
                                    </div>
                                </div>
                            </div>
                          </td>
                        <td>
                            <div class="decision-dropdown">
                                <button class="decision-button">Select</button>
                                <div class="dropdown-content">
                                    <a href="#" class="accept">Accept</a>
                                    <a href="#" class="reject">Reject</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                   
                </tbody>
            </table>
        </div>

      
        </div>
    </div>