
.more:before {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-black);
  }
  
  .post-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  @media (max-width: 768px) {
    .post-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  .post-content .firstcharacter {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
  
  .post-content figure {
    position: relative;
    left: 52%;
    min-width: 990px;
    transform: translateX(-50%);
  }
  
  @media (max-width: 1255px) {
    .post-content figure {
      min-width: auto;
      left: auto !important;
      transform: none;
    }
  }
  
  .post-content figure figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 0 0 0;
  }
 
  