<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/home" class="logo d-flex align-items-center">

      <img src="../assets/img/logo1.png" alt="">
      
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/home">Blog</a></li>

          <li class="dropdown"><a href="/category"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Nature</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
              <li><a href="#">Cultural</a></li>
              <li><a href="#">Industrial</a></li>
              <li><a href="#">Sun and Beach</a></li>
              <li><a href="#">Leisure and Entertainment</a></li>
              <li><a href="#">Meetings, Incentives, Conventions, and Exhibitions</a></li>
              <li><a href="#">Health Wellness</a></li>
            </ul>
          </li>

          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <div class="position-relative ">



        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>

        <i class="bi bi-list mx-2 mobilenav" (click)="toggleSideNav()"></i>
        <i class="bi bi-list mx-2 webnav" [ngClass]="{'show': showBurger}" (click)="toggleSideNavWeb()"></i> 
<!--         <div class="bi bi-list toggle-button" (click)="toggleSideNav()">☰</div> -->
     
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-list"></span></button>
          </form>
        </div>

        <div class="side-nav" [ngClass]="{'show': showSideNav}">
          <a style="text-align: right;" (click)="toggleSideNav()">Close &#x2716;</a>

          <a class="editnav" href="/home"><i class="bi bi-house" style="font-size: 20px; margin-right:15px ;"></i>  Blog</a>
          <!-- <a class="editnav" href="/view-post">Single Post</a> -->
          <a class="editnav" href="/profile"><i class="bi bi-person" style="font-size: 20px; margin-right:15px ;"></i>    Profile</a>
          <div class="dropdown">
            <a (click)="showDrop()" class="editnav dropdown-toggle" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-grid" style="font-size: 20px; margin-right:15px ;"></i>    Categories
            </a>
            <div *ngIf = "showDropBool" id="dropdown" aria-labelledby="categoriesDropdown">
                <!-- Add your category options here -->
                <a class="dropdown-item" href="#">Nature</a>
                <a class="dropdown-item" href="#">Cultural</a>
                <a class="dropdown-item" href="#">Industrial</a>
                <a class="dropdown-item" href="#">Sun and Beach</a>
                <a class="dropdown-item" href="#">Leisure and Entertainment</a>
                <a class="dropdown-item" href="#">Meetings, Incentives, Conventions, and Exhibitions</a>
                <a class="dropdown-item" href="#">Health Wellness</a>

                <!-- Add more categories as needed -->
            </div>
        </div>
          <a class="editnav" href="/about"> <i class="bi bi-info-circle" style="font-size: 20px; margin-right:15px ;"></i>  About</a>
          <a class="editnav" href="/contact"> <i class="bi bi-telephone" style="font-size: 20px; margin-right:15px ;"></i>  Contact</a>
          <a class="editnav" href="/contact"><i class="bi bi-bell" style="font-size: 20px; margin-right:15px ;"></i>    Notification</a>
          <a class="editnav" href="#"><i class="bi bi-box-arrow-right" style="font-size: 20px; margin-right:15px ;"></i>Logout</a>
    
      </div>



      <div class="side-nav" [ngClass]="{'show': showSideNavWeb}">
        <a style="text-align: right;" (click)="toggleSideNavWeb()">Close &#x2716;</a>
        <a class="editnav" href="/profile"><i class="bi bi-person" style="font-size: 20px; margin-right:15px ;"></i>    Profile</a>
        <a class="editnav" href="/contact"><i class="bi bi-bell" style="font-size: 20px; margin-right:15px ;"></i>    Notification</a>

        <a class="editnav" href="#"><i class="bi bi-box-arrow-right" style="font-size: 20px; margin-right:15px ;"></i>Logout</a>
    </div>
      </div>
    </div>




    <!-- Side Navigation -->
    
  </header>  
  
  

<!--  ----------------- NOTIFICATION----------- -->
<!-- 
  <div class="notification-container">
      <h1 class="notification-header">Notification</h1>
      <div class="notification-all">
      <ul class="notification-list">
          <li class="notification-item">
              <img class="profile-picture" src="../assets/img/profilepic.png" alt="Profile Picture">
              <div class="notification-details">
                <span class="notification-time">Oct 21, 2023 12:34 PM</span>
                <br>
                  <span class="name">John Doe</span>
                  <span class="notification-text"> commented on your blog.</span>
              </div>
          </li>
          <li class="notification-item">
              <img class="profile-picture" src="../assets/img/profilepic.png" alt="Profile Picture">
              <div class="notification-details">
                <span class="notification-time">Oct 21, 2023 12:34 PM</span>
                <br>
                  <span class="name">Jane Smith</span>
                  <span class="notification-text"> liked your blog.</span>
              </div>
          </li>
          <li class="notification-item">
            <img class="profile-picture" src="../assets/img/profilepic.png" alt="Profile Picture">
            <div class="notification-details">
              <span class="notification-time">Oct 21, 2023 12:34 PM</span>
              <br>
                <span class="name">Jane Smith</span>
                <span class="notification-text"> liked your blog.</span>
            </div>
        </li>
        <li class="notification-item">
          <img class="profile-picture" src="../assets/img/profilepic.png" alt="Profile Picture">
          <div class="notification-details">
            <span class="notification-time">Oct 21, 2023 12:34 PM</span>
            <br>
              <span class="name">Jane Smith</span>
              <span class="notification-text"> liked your blog.</span>
          </div>
      </li>
      <li class="notification-item">
        <img class="profile-picture" src="../assets/img/profilepic.png" alt="Profile Picture">
        <div class="notification-details">
          <span class="notification-time">Oct 21, 2023 12:34 PM</span>
          <br>
            <span class="name">Jane Smith</span>
            <span class="notification-text"> liked your blog.</span>
        </div>
    </li>

    <li class="notification-item">
      <img class="profile-picture" src="../assets/img/profilepic.png" alt="Profile Picture">
      <div class="notification-details">
        <span class="notification-time">Oct 21, 2023 12:34 PM</span>
        <br>
          <span class="name">Jane Smith</span>
          <span class="notification-text"> liked your blog.</span>
      </div>
  </li>
      
      
      </ul>
    </div>
    
</div>  -->