
  .side-nav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .side-nav a:hover {
    color: rgb(255 193 39);
  
  }
  
  .side-nav.show {
    width: 250px;
    right: 0;
  
  }
  
  @media screen and (max-width: 600px) {
    .toggle-button {
        display: block;
    }
  
    .side-nav.show {
        width: 70%;
    }
  }

    @media (min-width: 1280px) {
      .navbar {
        padding: 0;
      }
    
      .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
      }
    
      .navbar li {
        position: relative;
      }
    
      .navbar a,
      .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
        color: rgba(var(--color-default-rgb), 1);
        white-space: nowrap;
        transition: 0.3s;
      }
    
      .navbar a i,
      .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
      }
    
      .navbar a:hover,
      .navbar .active,
      .navbar .active:focus,
      .navbar li:hover>a {
        color: var(--color-default);
      }
    
      .navbar .getstarted,
      .navbar .getstarted:focus {
        background: var(--color-primary);
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: var(--color-white);
      }
    
      .navbar .getstarted:hover,
      .navbar .getstarted:focus:hover {
        color: var(--color-white);
        background: rgba(var(--color-primary-rgb), 0.8);
      }
    
      .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: var(--color-white);
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
      }
    
      .navbar .dropdown ul li {
        min-width: 200px;
      }
    
      .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 400;
      }
    
      .navbar .dropdown ul a i {
        font-size: 12px;
      }
    
      .navbar .dropdown ul a:hover,
      .navbar .dropdown ul .active:hover,
      .navbar .dropdown ul li:hover>a {
        color: var(--color-primary);
      }
    
      .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    
      .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
      }
    
      .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
      }
    }
    
    @media (min-width: 1280px) and (max-width: 1366px) {
      .navbar .dropdown .dropdown ul {
        left: -90%;
      }
    
      .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
      }
    }
    
    .mobile-nav-toggle {
      display: none;
    }
  