<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/home" class="logo d-flex align-items-center">

      <img src="../assets/img/logo1.png" alt="">
      
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/home">Home</a></li>

          <li class="dropdown"><a href="/category"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Nature</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li> -->
              <li><a href="#">Cultural</a></li>
              <li><a href="#">Industrial</a></li>
              <li><a href="#">Sun and Beach</a></li>
              <li><a href="#">Leisure and Entertainment</a></li>
              <li><a href="#">Meetings, Incentives, Conventions, and Exhibitions</a></li>
              <li><a href="#">Health Wellness</a></li>
            </ul>
          </li>

          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>

      <div class="position-relative ">

        <a href=# class="mx-2 logoutbtn"><span class="bi bi-box-arrow-in-left"></span></a>
        <a href="/profile" class="mx-2"><span class="bi-person-fill"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mx-2 " (click)="toggleSideNav()">
      </i> 
<!--         <div class="bi bi-list toggle-button" (click)="toggleSideNav()">☰</div> -->
     
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-list"></span></button>
          </form>
        </div>

        <div class="side-nav" [ngClass]="{'show': showSideNav}">
          <a style="text-align: right;"href="#" (click)="toggleSideNav()">Close &#x2716;</a>
          <a class="editnav" href="/home">Blog</a>
          <a class="editnav" href="/view-post">Single Post</a>
          <div class="dropdown">
            <a (click)="showDrop()" class="editnav dropdown-toggle" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div *ngIf = "showDropBool" id="dropdown" aria-labelledby="categoriesDropdown">
                <!-- Add your category options here -->
                <a class="dropdown-item" href="#">Nature</a>
                <a class="dropdown-item" href="#">Cultural</a>
                <a class="dropdown-item" href="#">Industrial</a>
                <a class="dropdown-item" href="#">Sun and Beach</a>
                <a class="dropdown-item" href="#">Leisure and Entertainment</a>
                <a class="dropdown-item" href="#">Meetings, Incentives, Conventions, and Exhibitions</a>
                <a class="dropdown-item" href="#">Health Wellness</a>

                <!-- Add more categories as needed -->
            </div>
        </div>
          <a class="editnav" href="/about">About</a>
          <a class="editnav" href="/contact">Contact</a>
          <a class="editnav" href=#>Logout</a>
      </div>
      </div>
    </div>




    <!-- Side Navigation -->
    
  </header>   