<app-admin-nav></app-admin-nav>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <i class="bi bi-list iconbi"></i>
        </div>

        <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <i class="bi bi-search iconbi"></i>
            </label>
        </div>

        <div class="user">
            <img src="../../../assets/img/customer01.jpg" alt="">
        </div>
    </div>

    <!-- ======================= Cards ================== -->
   
    <!-- ================ Order Details List ================= -->
    <div class="regdetails">
        <div class="row">
            <div class="col">
                <button type="button" (click)="addOne()" class="addOneBtn btn btn-primary">Add</button>
                
            </div>
            <div class="col">
                <button type="button" (click)="addMany()" class="btn btn-success" style="margin-left: -89%;">Add Many</button>
            </div>
        </div>
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Spots</h2>
           
            </div>

            <table>
                <thead>
                    <tr>
                        <td>Name of Place</td>
                        <td>City/Municipality</td>
                        <td>Category</td>
                        <!-- <td>Status</td> -->
                        <td>View Photo</td>
                        <td>Action</td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor = "let dest of destList">
                        <td>{{dest.estName}}</td>
                        <td>{{dest.city}}</td>
                        <td>{{dest.category}}</td>
                        <!-- <td>{{dest.status}}</td> -->
                        <td>
                            <button class="viewButton" (click) = "viewSpot()">View</button>
                            <!-- <div class="popup">
                                <div class="popup-content">
                                    <span class="close">&times;</span>
                                    <h2>All Information</h2>
                                    <div>
                                        <strong>User Information</strong>
                                        <br>
                                        <strong>Last Name:</strong> Guerrero<br>
                                        <strong>First Name:</strong> Marie Kaila<br>
                                        <strong>Middle Name:</strong> [Add Middle Name here]
                                    </div>
                                </div>
                            </div> -->
                            
                          </td>
                        <td>
                            <div class="decision-dropdown">
                                <button class="decision-button">Select</button>
                                <div class="dropdown-content">
                                    <a href="#" class="edit">Edit</a>
                                    <a href="#" class="archive">Archive</a>
                                    <a href="#" class="feature">Feature</a>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

      
        </div>
    </div>


    <div class="popup" id="addPopUp">
        <div class="popup-content">
            <span class="close" (click)="closeAdd()">&times;</span>
            <h2 class="titlespot">Add Tourist Spot</h2>
            <div>
                <br>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="placeName">Name of Place</label>
                        <input [(ngModel)]="placeName" type="text" id="placeName" name="placeName" required>
                    </div>
        
                    <div class="form-group">
                        
                        <label for="city">City/Municipality</label>
                        <select [(ngModel)]="city" id="city" name="city" required>
                            <option *ngFor = "let cities of batangasCities" [value]="cities.name">{{cities.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <select [(ngModel)]="category" id="category" name="category" required>
                            <option value="default">Select</option>
                            <option value="Nature">Nature</option>
                            <option value="Cultural">Cultural</option>
                            <option value="Cultural">Industrial</option>
                            <option value="Sun and Beach">Sun and Beach</option>
                            <option value="Leisure and Entertainment">Leisure & Entertainment</option>
                            <option value="MICE">Meetings, Incentives, Conventions, and Exhibitions</option>
                            <option value="Health and Wellness">Health, Wellness, and Retirement</option>
                            <option value="Cruise and Nautical">Cruise & Nautical</option>
                            <option value="Diving and Marine Sports">Diving and Marine Sports</option>
                            <option value="Education">Education</option>
                            
                           </select>
                    </div>
        
                    <!-- <div class="form-group">
                        <label for="facilities">Facilities</label>
                        <select id="category" name="facilities" required>
                            <option value="Accomodation">Accomodation</option>
                            <option value="Restaurants and Dining Places">Restaurants & Dining Places</option>
                            <option value="Travel & Tours">Travel & Tours</option>
                            <option value="Banks">Banks</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Shopping">Shopping Centers/Markets</option>
                            <option value="Health Services">Health Services</option>
                            <option value="Souvenir">Souvenir Shops</option>
                            <option value="Events">Special Events</option>
                            <option value="Libraries">Libraries</option>
                            <option value="Dive Shops">Dive Shops</option>
                            <option value="Internet Shops">Internet Shops</option>
                            <option value="Places of Worship">Places of Worship</option>
                        </select>
                    </div> -->
        
                    <!-- <div class="form-group">
                        <label for="status">Status</label>
                        <select [(ngModel)]="status" id="status" name="status" required>
                            <option value="default">Select</option>

                            <option value="Registered">Registered</option>
                            <option value="Not Registered">Not Registered</option>
                        </select></div> -->
            <br>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea [(ngModel)]="description" id="description" name="description" required></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="photos">Photo</label>
                        <input [(ngModel)]="photo" type="file" id="photos" name="photos" accept="image/*" required>
                    </div>
        
                    <div class="form-group">
                        <button (click) = "uploadData()" type="submit" class="buttonform">Submit</button>
                        <button (click) = "resetAdd()" class="buttonform">Reset</button>
                    </div>
                    
                </form>
              
            </div>
        </div>
    </div>


    <div class="popup" id="viewPopUp">
        <div class="popup-content">
            <span class="close" (click)="closeView()">&times;</span>
            <h2 class="titlespot">View Tourist Spot</h2>
            <div>
                <br>
                <form action="#" method="Tourist Destination">
                    <div class="form-group">
                        <label for="placeName">Name of Place: </label>
                        <input type="text" id="placeName" name="placeName" required>
                    </div>
        
                    <div class="form-group">
                        
                        <label for="city">City/Municipality</label>
                        <input type="text" id="city" name="city" required>
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <select id="category" name="category" required>
                            <option value="default">Select</option>
                            <option value="Nature">Nature</option>
                            <option value="Cultural">Cultural</option>
                            <option value="Sun and Beach">Sun and Beach</option>
                            <option value="Leisure and Entertainment">Leisure & Entertainment</option>
                            <option value="MICE">Meetings, Incentives, Conventions, and Exhibitions</option>
                            <option value="Health and Wellness">Health, Wellness, and Retirement</option>
                            <option value="Cruise and Nautical">Cruise & Nautical</option>
                            <option value="Diving and Marine Sports">Diving and Marine Sports</option>
                            <option value="Education">Education</option>
                            
                           </select>
                    </div>
        
        
                    <!-- <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" name="status" required>
                            <option value="default">Select</option>

                            <option value="registered">Registered</option>
                            <option value="notRegistered">Not Registered</option>
                        </select></div> -->
            <br>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" required></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="photos">Photo</label>
                        <input type="file" id="photos" name="photos" accept="image/*" required>
                    </div>
        
                    <div class="form-group">
                        <button type="submit" class="buttonform">Submit</button>
                    </div>
                </form>
              
            </div>
        </div>
    </div>
    

