<app-header></app-header>
<main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">About us</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="assets/img/tourease.png" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">About us</div>
              <h2 class="mb-4 display-4">History</h2>

              <p>In response to the need for a one-stop platform for Batangas tourism, TourEase emerged. Born from a research project recognizing the challenges faced by tourists in the Philippines' specifically in the beautiful Batangas Province, the web app aimed to fill the information gap. </p>
              <p>Its goal? revolutionize travel by providing comprehensive details, promoting community engagement, and contributing to the region's economic growth. Despite challenges, TourEase became a symbol of innovation, shaping a more connected and enjoyable tourist experience in Batangas and setting a global standard for tech-driven tourism solutions.</p>
            </div>
          </div>

          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="assets/img/map.jpg" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Mission &amp; Vision</div>
              <h2 class="mb-4 display-4">Mission &amp; Vision</h2>

              <p>TourEase aims to transform the tourism experience in Batangas Province by offering a user-friendly web app. Our mission is to provide travelers with detailed information, encourage community engagement, and contribute to the sustainable development of local tourism. Through TourEase, we strive to make exploring Batangas more accessible, transparent, and enjoyable.</p>
              <p>TourEase envisions a future where every traveler effortlessly discovers and explores Batangas Province's attractions. We aspire to be the preferred platform that not only informs but also inspires individuals to explore the beauty of Batangas. Our vision extends globally, aiming to set a standard for tech-driven tourism solutions that foster economic growth, responsible travel, and innovation. TourEase is dedicated to creating a positive impact aligned with Sustainable Development Goals, benefiting local communities.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="mb-5 bg-light py-5">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-between align-items-lg-center">
          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="assets/img/bats.png" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <h2 class="mb-4 display-4">Latest News</h2>

              <p>In a bid to elevate your Batangas travel experience, TourEase has rolled out exciting new features! From real-time updates on popular sites to personalized itineraries, our latest enhancements aim to make your journey more seamless and enjoyable. Stay tuned for more updates as TourEase continues to evolve, ensuring you get the most out of your exploration in the captivating Batangas Province. Your adventure just got even better with TourEase!</p>
            <p><a href="#" class="more">View All Blog Posts</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Our Team</h2>
                <p>Discover the minds driving TourEase. A dedicated team of dreamers and tech enthusiasts, they're on a mission to reshape your Batangas adventure. Get to know the faces behind the scenes, passionately crafting TourEase to provide you with a seamless and memorable travel experience in the stunning Batangas Province.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/kai.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Marie Kaila Guerrero</h4>
            <span class="d-block mb-3 text-uppercase">Founder &amp; CEO</span>
            <p>20-04089@g.batstate-u.edu.ph</p>
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/krys.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Krystel Macatangay</h4>
            <span class="d-block mb-3 text-uppercase">Founder, VP</span>
            <p>20-03581@g.batstate-u.edu.ph</p>          
          </div>
          <div class="col-lg-4 text-center mb-5">
            <img src="assets/img/bea.png" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>Bea Patricia Onda</h4>
            <span class="d-block mb-3 text-uppercase">Editor Staff</span>
            <p>20-05524@g.batstate-u.edu.ph</p>          
          </div>
        </div>
      </div>
    </section>

  </main>