
<app-header></app-header>

<main id="main" style="margin-top: 90px;">

  <section id="newpost" class="contact mb-5" >
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 text-center mb-5">
          <h1 class="page-title">Create a Post</h1>
        </div>
      </div>

      <div class="row gy-4">

          <h5 style = "text-align: center; margin-top: -1%;">Share your own extraordinary travel tales and inspire fellow wanderers to embark on their own unforgettable journeys! Create post now.</h5>

      </div>
     

      <div class="form mt-5">
        <form method="post" role="form" class="php-email-form">
        
          <h2 class="titlespot">Choose Location</h2>

          <div class="row" style="margin-bottom: 20px;">
           
            <div class="col-md-12">
              <input name ="loc" placeholder="Location" [(ngModel)] ="tspot" type="text" class="form-control"  required disabled>
            </div>
         
           
          </div>


          <div class="form-group">
            <input autocomplete="off"  (focus) = "gainFocus()" [(ngModel)] ="search" type="text" id="placeName" name="search" required class="form-control" (input)="searchSpot()" placeholder="Name of Place">

            <div *ngIf="showResults" class="search-results">
              <ul>
                <li *ngFor="let result of estNameList; let i = index"  (click)="selectResult(result, i)">
                  {{ result }}
                </li>
              </ul>
            </div>
          </div>


          <div>
            <label for="file">Pin the location</label>
            <google-map height="300px"
            width="100%"
            id="addMap"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)"
            #addMap
            >
              <map-marker
              [position]="center"
              id = "mapMark"
              draggable="true"
              #mapMarker>
              </map-marker>
          </google-map>
              <br>
              <form action="#" method="Tourist Destination">
      
                  <div class="form-group">
                      
                      <label for="city">City/Municipality</label>
                      <input [(ngModel)]="city" type="text" id="city" name="city" required class="form-control">
                  </div>
      
                  <div class="form-group col-md-6">
                    <label for="file">Rate</label>
                    <div  class="rating" id="rating">
      
                      <input [(ngModel)] = "rating" type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                      <input [(ngModel)] = "rating" type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                      <input [(ngModel)] = "rating" type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                      <input [(ngModel)] = "rating" type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                      <input [(ngModel)] = "rating" type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                  </div>
                  </div>
      
                  <div class="form-group">
                    <input type="text" [(ngModel)] = "post_title" name="post_title" class="form-control" id="title" placeholder="Title" required>
                  </div>
            
              
                  <div class="form-group">
                    <div class="btn-group" role="group" aria-label="Text Formatting">
                      <button (click)="formatText('bold')" type="button" class="btn btn-secondary" id="bold"><strong>B</strong></button>
                      <button (click)="formatText('italic')" type="button" class="btn btn-secondary" id="italic"><em>I</em></button>
                      <button (click)="formatText('underline')" type="button" class="btn btn-secondary" id="align-left"><u>U</u></button>
                      <button (click)="undo()" type="button" class="btn btn-secondary bi-arrow-counterclockwise" id="undo"></button>
                      
                    </div>
                    <textarea id="post_body" (input)="onTextChanged()" [(ngModel)] = "post_body" class="form-control" name="post" rows="15" placeholder="What's on your mind?" required #textArea></textarea>
                    
                  </div>
                 
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label for="file">Add a Photo</label>
                      <button (click)="takePicture()" name="file" id="file" class="uploadbtn">Choose Photo</button>
                    </div>

                    <div class="form-group col-md-6">
                      <img [src] = "chosenPic" style="width: 100%;"/>
                    </div>

                   
                  </div>

                  
                 

                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been posted.</div>
                  </div>
                  <!-- userCheck() -->
                  <div class="text-center"><button type="submit" (click) = "userCheck()">Post</button></div>
          
                 
              
              </form>
              
            
          </div>

    
      </form></div></div>
  </section>







    



    


    
  </main>


  
  
  
 