<app-admin-nav></app-admin-nav>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <i class="bi bi-list iconbi"></i>
        </div>

        <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <i class="bi bi-search iconbi"></i>
            </label>
        </div>

        <div class="user">
            <img src="assets/imgs/customer01.jpg" alt="">
        </div>
    </div>

    <!-- ======================= Cards ================== -->
   
    <!-- ================ Order Details List ================= -->
    <div class="regdetails">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Users Information</h2>
           
            </div>

            <table>
                <thead>
                    <tr>
                        <td width="90%">Information</td>
                        <td>Action</td>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor = "let user of usersList">
                        <td width="90%">
                            <div class="user-info">
                                <h4>{{user.fname + ' ' + user.mname + ' ' + user.lname}}</h4>
                                <p>{{user.uid}}</p>
                                <p>{{user.uname}}</p>
                                <p>{{user.contact}}</p>
                                <p>{{user.email}}</p>
                            </div>
                        </td>
                        <td>
                            <button class="delete-button">Delete</button>
                        </td>
                      
                        
                    </tr>
                    
                   
                </tbody>
            </table>
        </div>

      
        </div>
    </div>