.regdetails table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.regdetails table thead td {
  font-weight: 600;
}
.regdetails .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.regdetails .recentOrders table tr:last-child {
  border-bottom: none;
}
.regdetails .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.regdetails .recentOrders table tr td {
  padding: 10px;
 width: 20px;

 padding-right: 20px;
}
.regdetails .recentOrders table tr td:last-child {
  text-align: left;
}
.regdetails .recentOrders table tr td:nth-child(2) {
  text-align: left;
}
.regdetails .recentOrders table tr td:nth-child(3) {
  text-align: left;
}

.decision-dropdown {
  position: relative;
  display: inline-block;
}

.decision-button {
  background-color: #21757F;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.decision-button:hover {
  background-color: #ffffff;
  color: #21757F;
  
}

.delete-button {
  background-color: #bd3030;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.delete-button:hover {
  background-color: #ffffff;
  color: #21757F;
  
}


.edit-button {
  background-color: #21757F;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.edit-button:hover {
  background-color: #ffffff;
  color: #21757F;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -5px; 
  margin-top: 2px;
  color: #21757F;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.decision-dropdown:hover .dropdown-content {
  display: block;
}

.delete-button, .edit-button {
  padding: 5px 10px;
}

.user-info {
  flex-grow: 1;
}

.btn {
    background-color: #21757F;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
  background-color: #ffffff;
  color: #21757F;
}

.viewButton {
    background-color: #21757F;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.viewButton:hover {
    background-color: #ffffff;
    color: #21757F;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #21757F;
    text-decoration: none;
    cursor: pointer;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recentOrders .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentOrders .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .chartsBx{
    grid-template-columns: 1fr;
    height: auto;
  }

  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }

  .chartsBx .chart{
    width: 95%;
    padding:10px;
  }

}
@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .regdetails {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }

  .chartsBx{
    grid-template-columns: 1fr;
    height: auto;
  }
  .chartsBx .chart{
    width: 95%;
    padding:10px;
  }

}
@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }

  .chartsBx{
    grid-template-columns: 2fr;
    height: auto;
  }

  .chartsBx .chart{
    width: 95%;
    padding:10px;
  }
}