
.footer {
    overflow: hidden;
    background: rgba(var(--color-black-rgb), 0.9);
    font-size: 16px;
    color: rgba(var(--color-white-rgb), 0.7);
  }
  
  .footer .footer-content {
    padding: 60px 0;
  }
  
  .footer a.footer-link-more {
    color: rgba(var(--color-white-rgb), 0.7);
    display: inline-block;
    position: relative;
  }
  
  .footer a.footer-link-more:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--color-white);
  }
  
  .footer a.footer-link-more:hover {
    color: rgba(var(--color-white-rgb), 1);
  }
  
  .footer .footer-heading {
    color: var(--color-white);
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  
  .footer .footer-blog-entry li {
    margin-bottom: 20px;
    display: block;
  }
  
  .footer .footer-blog-entry li a .post-meta {
    font-size: 10px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Sodosans';
    color: rgba(var(--color-white-rgb), 0.4);
    margin-bottom: 0px;
  }
  
  .footer .footer-blog-entry li a img {
    flex: 0 0 50px;
    width: 50px;
  }
  
  .footer .footer-links li {
    margin-bottom: 10px;
  }
  