
  /*--------------------------------------------------------------
  # Posts
  --------------------------------------------------------------*/
  .post-entry-1 {
    margin-bottom: 30px;
  }
  
  .post-entry-1 img {
    margin-bottom: 30px;
  }
  
  .post-entry-1 h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-weight: 500;
  }
  
  .post-entry-1 h2 a {
    color: var(--color-black);
  }
  
  .post-entry-1.lg h2 {
    font-size: 40px;
    line-height: 1;
  }
  
  .post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Sodosans';
    color:#0a3c4299;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .custom-border {
      border: none !important;
    }
    .addloc{
     margin-left: -20px;
     font-size: 11px;
     padding: 2px 33px;
  }

  
  .logoutbtn{
    display: none;
  }
  }
  
  .author .photo {
    margin-right: 10px;
  }
  
  .author .photo img {
    width: 40px;
    border-radius: 50%;
    margin-bottom: 0;
  }
  
  .author .name h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family:'Sodosans';
  }
  
  .trending {
    border: 1px solid rgba(var(--color-black-rgb), 0.1);
  }
  
  .trending>h3 {
    color: var(--color-black);
    padding: 20px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
  }
  
  .trending .trending-post {
    padding: 0;
    margin: 0;
  }
  
  .trending .trending-post li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
  }
  
  .trending .trending-post li a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid rgba(var(--color-black-rgb), 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .trending .trending-post li a .number {
    position: absolute;
    z-index: -1;
    font-size: 5rem;
    left: -10px;
    top: -20px;
    font-weight: 700;
    color: rgba(var(--color-black-rgb), 0.05);
  }
  
  .trending .trending-post li a h3 {
    font-size: 18px;
    color: rgba(var(--color-black-rgb), 0.9);
  }
  
  .trending .trending-post li a .author {
    color: rgba(var(--color-black-rgb), 0.7);
    font-weight: 500;
  }
  
  .trending .trending-post li a:hover h3 {
    color: rgba(var(--color-black-rgb), 1);
  }
  
  .trending .trending-post li:last-child a {
    border-bottom: none;
  }
  
  .post-entry-2 {
    margin-bottom: 30px;
  }
  
  .post-entry-2 .post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family:'Sodosans';
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 10px;
  }
  
  .post-entry-2 .author {
    color: rgba(var(--color-black-rgb), 0.7);
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
  }
  
  .post-entry-2 .thumbnail {
    flex: 0 0 65%;
  }
  
  @media (max-width: 960px) {
    .post-entry-2 .thumbnail {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  
  .post-entry-2.half .thumbnail {
    flex: 0 0 50%;
  }
  
  @media (max-width: 768px) {
    .post-entry-2.half .thumbnail {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  
  .post-entry-2.small-img .thumbnail {
    flex: 0 0 30%;
  }
  
  @media (max-width: 768px) {
    .post-entry-2.small-img .thumbnail {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
  
  .img-bg {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
  }
  
  @media (max-width: 768px) {
    .img-bg {
      height: 400px;
    }
  }
  
  .img-bg:before {
    position: absolute;
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1.5;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
  }
  
  .img-bg .img-bg-inner {
    position: relative;
    z-index: 2;
    max-width: 700px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
  }
  
  @media (max-width: 768px) {
    .img-bg .img-bg-inner {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 50px;
    }
  }
  
  .img-bg .img-bg-inner h2,
  .img-bg .img-bg-inner p {
    color: var(--color-white);
  }
  
  @media (max-width: 500px) {
    .img-bg .img-bg-inner p {
      display: none;
    }


    
  }
  