
  /*--------------------------------------------------------------
  # Page title
  --------------------------------------------------------------*/
  .page-title {
    font-size: 70px;
    color: var(--color-black);
  }
  
  /* Form Input Fieldds */
  .form-control:active,
  .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-black);
  }
  
  .btn:active,
  .btn:focus {
    outline: none;
  }
  
  .btn.btn-primary {
    background-color: #21757f;
    color: var(--color-white);
    border-color: #21757f;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
  }
  
  .header.sticked {
    height: 70px;
  }
  
  .header .logo img {
    max-height: 110px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-default);
    font-family: 'Sodosans';
  }
  
  .search-form-wrap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transition: 0.3s all ease;
    visibility: hidden;
    opacity: 0;
  }
  
  .search-form-wrap .search-form {
    position: relative;
  }
  
  .search-form-wrap .search-form .form-control {
    width: 300px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(var(--color-black-rgb), 0.1);
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .search-form-wrap .search-form .form-control:active,
  .search-form-wrap .search-form .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  .search-form-wrap .search-form .icon {
    position: absolute;
    left: 0;
    top: 7px;
    opacity: 0.5;
    left: 10px;
  }
  
  .search-form-wrap .search-form .btn {
    position: absolute;
    top: 2px;
    right: 4px;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 30px;
  }
  
  .search-form-wrap .search-form .btn:active,
  .search-form-wrap .search-form .btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  .search-form-wrap.active {
    visibility: visible;
    opacity: 1;
  }
  
  section {
    scroll-margin-top: 70px;
  }
  