<app-header></app-header>
<app-fab></app-fab>
<main id="main" style="margin-top: 90px;">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">Category: {{this.category}}</h3>

            <div *ngFor = "let post of postList; let i = index" class="d-md-flex post-entry-2 half">
              <a *ngIf = "post" (click)="nextPage(post.postID)" class="me-4 thumbnail">
                <img [src]="photoList[i]" alt="" class="img-fluid">
              </a>
              <div *ngIf = "post">
                <div class="post-meta"><span class="date">{{this.category}}</span> <span class="mx-1">&bullet;</span> <span>{{post.month + ' ' + post.date+ ' ' + post.year}}</span></div>
                <h3><a (click)="nextPage(post.postID)">{{post.title}}</a></h3>
                <p>{{post.body}}...</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"></div>
                  <div class="name">
                    <h3 class="m-0 p-0"><i class="bi bi-person" style="margin-right: 10px;"></i>{{post.user}}</h3>
                  </div>
                </div>
              </div>
            </div>


            <div class="text-start py-4">
              <div class="custom-pagination">
                <a href="#" class="prev">Previous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="next">Next</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li>

              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Sport</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2"><a href="#">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                    <span class="author mb-3 d-block" style="color:#2b939f; margin-top: -7px;"><i class="bi bi-person" style="margin-right: 10px;"></i>Jenny Wilson</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Lifestyle</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2"><a href="#">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a></h2>
                    <span class="author mb-3 d-block" style="color:#2b939f; margin-top: -7px;"><i class="bi bi-person" style="margin-right: 10px;"></i>Jenny Wilson</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2"><a href="#">9 Half-up/half-down Hairstyles for Long and Medium Hair</a></h2>
                    <span class="author mb-3 d-block" style="color:#2b939f; margin-top: -7px;"><i class="bi bi-person" style="margin-right: 10px;"></i>Jenny Wilson</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Lifestyle</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2"><a href="#">Life Insurance And Pregnancy: A Working Mom’s Guide</a></h2>
                    <span class="author mb-3 d-block" style="color:#2b939f; margin-top: -7px;"><i class="bi bi-person" style="margin-right: 10px;"></i>Jenny Wilson</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2"><a href="#">The Best Homemade Masks for Face (keep the Pimples Away)</a></h2>
                    <span class="author mb-3 d-block" style="color:#2b939f; margin-top: -7px;"><i class="bi bi-person" style="margin-right: 10px;"></i>Jenny Wilson</span>
                  </div>

                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">Lifestyle</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                    <h2 class="mb-2"><a href="#">10 Life-Changing Hacks Every Working Mom Should Know</a></h2>
                    <span class="author mb-3 d-block" style="color:#2b939f; margin-top: -7px;"><i class="bi bi-person" style="margin-right: 10px;"></i>Jenny Wilson</span>
                  </div>
                </div> <!-- End Popular -->

              </div>
            </div>

            
            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                <li><a (click) = "goCateg('nature')"><i class="bi bi-chevron-right"></i> Nature</a></li>
                <li><a (click) = "goCateg('cultural')"><i class="bi bi-chevron-right"></i> Cultural</a></li>
                <li><a (click) = "goCateg('industrial')"><i class="bi bi-chevron-right"></i> Industrial</a></li>
                <li><a (click) = "goCateg('sun_and_beach')"><i class="bi bi-chevron-right"></i> Sun and Beach</a></li>
                <li><a (click) = "goCateg('leisure')"><i class="bi bi-chevron-right"></i> Leisure and Entertainment</a></li>
                <li><a (click) = "goCateg('mice')"><i class="bi bi-chevron-right"></i> Meetings, Incentives, Conventions, and Exhibitions </a></li>
                <li><a (click) = "goCateg('health')"><i class="bi bi-chevron-right"></i> Health and Wellness</a></li>
              </ul>
            </div><!-- End Categories -->

            

          </div>

        </div>
      </div>
    </section>
  </main>
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <app-footer></app-footer>