a {
    cursor: pointer;
}


  
.post-caption {
    margin-top: 10px; 
  }
  
  .caption-line {
    background-color: #e6e2e2; 
    height: 220px;
    margin-bottom: 5px;
    width: 100%; 
  }
  .caption-line1 {
    background-color:#e6e2e2;
    height: 10px; 
    margin-bottom: 5px; 
    width: 100%; }

  .caption-line2 {
    background-color: #e6e2e2; 
    height: 50px;
    margin-bottom: 17px;
    width: 100%; 
  }
  .caption-line3 {
    background-color: #e6e2e2; 
    height: 20px;
    margin-top: 37px;
    width: 30%; 
  }

