  
@font-face {
  font-family: 'Sodosans';
  src: url('../../../assets/fonts/sodosans/SoDoSans-Regular.woff2') format('woff2'),
       url('../../../assets/fonts/sodosans/SoDoSans-Regular.woff') format('woff');
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
label, button, a, td, tr, input {
  font-family: 'Sodosans';
}


/* LOADING DESIGN */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #21757f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}