/* Reset some default styles */
.bodycont, html {
    margin: 0;
    padding: 0;
}

  
@font-face {
    font-family: 'Sodosans';
    src: url('../../assets/fonts/sodosans/SoDoSans-Regular.woff2') format('woff2'),
         url('../../assets/fonts/sodosans/SoDoSans-Regular.woff') format('woff');
  }
  


/* Set the background image */
.bodycont {
    background-image: url('../../assets/img/background.png');
    background-size: cover;
    background-position: center;
    font-family: 'Sodosans';
}

.title{
    color: #21757F;
    font-weight: bolder;
    font-size: 50px;
    padding: 0;
    margin-top: -5%;
    font-family:'Sodosans';

}

/* Create a container to center the content vertically */
.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.right-logo {
    max-width: 250px; /* Adjust the size of your right logo */
    float: left;
    margin-top: -50%; /* Adjust the margin as needed */
}


/* Center the content horizontally */
.content {
    text-align: center;
    margin: 0 auto;
    padding: 80px;
    border-radius: 10px;
    max-width: 700px;
    position: relative;
    background-color: white;/* Added for positioning the white rectangle */
}

/* Add a white rectangle behind the content */
.content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* White rectangle background color */
    z-index: -1; /* Place the white rectangle behind the content */
    border-radius: 10px; /* Match the content's border-radius */
}

/* Style the logo */
.logo {
    max-width: 250px; /* Adjust the size of your logo */
    margin-bottom: 20px;
    margin-left: 80%;
    margin-top: -25%;
}


/* Style the email address */
.email {
    font-weight: bold;
    color: #21757F;
}

/* Style the "Click here" link */
a {
    text-decoration: none;
    color: #F6C826;
    font-weight: bolder; /* You can change the color as needed */
}


@media (max-width: 768px) {
    .content {
        max-width: 90%; /* Reduce the maximum width for smaller screens */
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .logo {
        max-width: 250px; /* Adjust the size of your logo */
        margin-bottom: 20px;
        margin-left: -1%;
        margin-top: -30%;
    }

    body {
        background-image: url('../../assets/img/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Sodosans';
    }

    .right-logo {
        max-width: 200px; /* Adjust the size of your right logo */
       margin-left: -30px;
        margin-top: -250%; /* Adjust the margin as needed */
    }
    

    
.title{
    color: #21757F;
    font-weight: bolder;
    font-size: 40px;
    padding: 0;
    margin-top: -5%;
    font-family:'Sodosans';

}

}
