


<main id="main">

  <section id="newpost" class="contact mb-5 " >
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 text-center mb-5 name-">
          <h1 class="page-title">Verify your Email!</h1>
        </div>
      </div>

      <div class="row gy-4 pad">

          <h5 class="moretext" style = "text-align: center; margin-top: -1%;">Ready to share your extraordinary travel tales and ignite the wanderlust in others? Let's get you back on board!</h5>

      </div>
     

      <div class="form mt-5">
        <form method="post" role="form" class="php-email-form">
         

     
               
                <div class="content contverify">
                 <!--  <img src="../../assets/img/mail.png" alt="Your Logo" class="verlogo"> -->
                    <div class="text">
                        <p class="title"> </p>
                        <h5 class="verifytext">We've sent an email to <span class="email">example@gmail.com</span> to verify your email address and activate your account. The link in the email will expire in 24 hours.</h5>
                        <h5 class="verifytext"><a href="#" class="click">Click here</a> if you did not receive an email.</h5>
                    </div>
                </div>
       
    <!--  <img src="../../assets/img/logo1.png" alt="Your Right Logo" class="right-logo">  -->
 

      

       

    
      </form></div></div>
  </section>










    


    
  </main>


  
  
  
 