/* Reset some default styles */
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";


.bodycont, html {
    margin: 0;
    padding: 0;
}

  
@font-face {
    font-family: 'Sodosans';
    src: url('../../assets/fonts/sodosans/SoDoSans-Regular.woff2') format('woff2'),
         url('../../assets/fonts/sodosans/SoDoSans-Regular.woff') format('woff');
  }
  

.logo{
    max-width: 28%;
    margin-left: 99%;
    margin-top: -12%;
}

.cont{
    margin-bottom: -10%;
}

.email{
    color:#21757f
}

.click{
    color:#f6c826;
}

.right-logo{
    max-width: 23%;
    margin-left: 82%;
    margin-top: -6%;
}

.verifytext{
    text-align: center;
    padding:10px;
    size: 40px;
}

.contverify{
    padding: 172px;
    margin-top: -12%;
    margin-bottom: -3%;
}
