<div class="bodycont">
<div class="container">
   
    <div class="content">
        <img src="../../assets/img/mail.png" alt="Your Logo" class="logo">
        <div class="text">
            <p class="title"> Verify your email!</p>
            <p>We've sent an email to <span class="email">example@gmail.com</span> to verify your email address and activate your account. The link in the email will expire in 24 hours.</p>
            <p><a (click)="clickHere()">Click here</a> if you did not receive an email.</p>
        </div>
    </div>
</div>

<img src="../../assets/img/logo.png" alt="Your Right Logo" class="right-logo">
</div>