/* Reset some default styles */

.bodycont, html {
    margin: 0;
    padding: 0;
}

  

.verlogo{
    max-width: 28%;
    margin-left: 99%;
    margin-top: -12%;

    
}

@media (max-width:320px){
  .btn{
    width: 116px;
    height: 39px;
    font-size:9.2px;

  }
 
  
}

.cont{
    margin-bottom: -10%;
}

.email{
    color:#21757f
}

.click{
    color:#f6c826;
}

.right-logo{
    max-width: 23%;
    margin-left: 82%;
    margin-top: -6%;
}

.verifytext{
    text-align: center;
    padding:10px;
    size: 40px;
}

.contverify{
    padding: 172px;
    margin-top: -12%;
    margin-bottom: -3%;
}

.contact .php-email-form{
    width: 113%;
      margin-left: -6%;
  }
  
  #main{
    background-image: url('../../assets/img/backg.png');
    background-size: cover; 
    height: 100vh;
    /* Optional: Adjusts how the image covers the element */
  }
  
  @media (max-width:320px){
        .page-title{
      margin-top: 250px;
    }
    .name- .moretext{
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
  }
  
  @media (max-width:768px){
  
  
    .page-title {
      margin-top: 150px;
    }
  
    #main{
      background-image: url('../../assets/img/bgbg.png');
      
    }
  }

  @media (max-width:1024px){
    #main{
      background-image: url('../../assets/img/bgbg.png');
      
    }
    .page-title{
      margin-top: 150px;
    }
  }