
<div class="bodycont">
<div class="container">
    <div class="content">
        <img src="../../assets/img/mail.png" alt="Your Logo" class="logo">
        <div class="text">
            <p class="title"> Retrieve your Account</p>
            <form>
                <input [(ngModel)]="email" class="email" type="email" id="email" name="email" placeholder="Enter your email address" required>
                <div>
                    <button type="submit" (click) = "retrieveAcc()" #send>SEND LINK</button>
                    <button (click)="retrieveAcc()" #resend type="submit" [disabled] = "isButtonDisabled" >RESEND (60s)</button>
                </div>
            </form>
            <p>Please wait 60 seconds before resending the email.</p>
        </div>
    </div>  
</div>
</div>