


<main id="main">

    <section id="newpost" class="contact mb-5 " >
      <div class="container" data-aos="fade-up">
  
        <div class="row">
          <div class="col-lg-12 text-center mb-5 name-">
            <h1 class="page-title">Retrieve your Account!</h1>
          </div>
        </div>
  
        <div class="row gy-4">
  
            <h5 class="moretext"style = "text-align: center; margin-top: -1%;">We understand that you're eager to continue sharing your travel. To retrieve your account enter your email.</h5>
  
        </div>

     
  
        <div class="form mt-5">
          <form method="post" role="form" class="php-email-form">
           
  
       
                 
                  <div class="content contverify">
                   <!--  <img src="../../assets/img/mail.png" alt="Your Logo" class="verlogo"> -->
                   <div class="form mt-5"> 
       
                    <form>
                        <div class="row">
                          <div class="form-group col-md-12">
                            <input [(ngModel)]="email" class="form-control" type="email" id="email" name="email" placeholder="Enter your email address" required>
                          </div>
                        </div>
                        <div class="my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Please wait 60 seconds before resending the email. Thank you!</div>
                        </div>
                        <div class="text-center"><button class="btn" style="margin-right: 20px;" type="submit" (click) = "retrieveAcc()" #send>SEND LINK</button>
                          <button (click)="retrieveAcc()" #resend type="submit" [disabled] = "isButtonDisabled" class="btn" >RESEND (60s)</button>
                          </div>
                          </form>
                
            <p style="text-align: center; margin-top:10px; color:dimgray;"><a href="#" style="color:#f6c826;">Click here</a> if you did not receive an email.</p>
        </div>  
                  </div>
 
       <!--       <img src="../../assets/img/logo.png" alt="Your Right Logo" class="right-logo"> -->
   
  
        
  
         
  
      
        </form></div></div>
    </section>
  
  
  
  
  
  
  
  
  
  
      
  
  
      
    </main>
  
  
    
    
    
   