
<div class="bodycont">
<div class="container">
    <div class="content">
        <img src="../../assets/img/mail.png" alt="Your Logo" class="logo">
        <div class="text">
            <p class="title"> Retrieve your Account</p>
            <form>
                <input class="email" type="email" id="email" name="email" placeholder="Enter your email address" required>
                <div>
                    <button type="submit">SEND LINK</button>
                </div>
            </form>
            <p><a href="#">Click here</a> if you did not receive an email.</p>
        </div>
    </div>  
</div>
</div>