<div class="content">
     <style>

.form-block{
  margin-top: -10%;
}


@media (max-width:320px){
  .form-block{
      margin-top: 10%;
    }
}

@media (max-width:768px){
  .form-block{
      margin-top: 10%;
    }
}

@media (max-width:1024px){
  .form-block{
      margin-top: 2%;
    }
}

     </style>
    <div class="container" >
     
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-11">
              <div class="form-block">
              
                <div class="mb-4">
                  
                  <div class="text-center"><div class="logo" style="text-align: center;"></div></div>
                  <h3 class="text-center">Sign in as<strong style="color: #21757f;"> Tourist</strong></h3>
                  <p class="mb-4 text-center">Sign in now to embark on a journey of discovery and adventure. Plan your next unforgettable trip with us.</p>
                </div>
                <form method="post" #loginForm="ngForm">
                  <div class="form-group first">
                    <label for="username">Email or Username</label>
                    <input [(ngModel)]= "email" name="email" type="text" class="form-control" id="username" style="padding: 5px; margin-bottom: 15px;" required> <!-- Added padding -->
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input [(ngModel)]= "pword" name="pword" type="password" class="form-control" id="password" style="padding: 5px;" required> <!-- Added padding -->
                  </div>
                  
                  <div class="d-flex mb-4 align-items-center justify-content-between"> <!-- Added justify-content-between -->
                    <label class="control control--checkbox mb-0">
                      <span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    <span><a (click)="nav('retrieve_account')" class="forgot-pass">Forgot Password</a></span> 
                  </div>

                  <button (click)="login()" type="submit" class="btn btn-pill text-white btn-block btn-primary" [disabled] = "loginForm.invalid" style="padding: 2px 30px; margin-left: 35%; background-color: #21757f; border-color: #21757f;" >Log In</button> <!-- Adjusted padding -->
                  
                 <!--  <div class="text-center my-4 text-muted"><span > Or Sign In with <a (click)="loginWithGoogle()" style="color: #21757f;">Google</a></span></div> -->
                  <div class="text-center my-4 text-muted" style="font-size: 15px;"> Doesn't have an account?  <a href="/register" style="color: #978b07;">Create Account</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>