<div class="content">
     
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-11">
              <div class="form-block">
                <div class="mb-4">
                  <h3 class="text-center">Sign in as<strong style="color: #21757f;"> Tourist</strong></h3>
                  <p class="mb-4 text-center">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                </div>
                <form action="#" method="post">
                  <div class="form-group first">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" style="padding: 5px; margin-bottom: 15px;"> <!-- Added padding -->
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" style="padding: 5px;"> <!-- Added padding -->
                  </div>
                  
                  <div class="d-flex mb-4 align-items-center justify-content-between"> <!-- Added justify-content-between -->
                    <label class="control control--checkbox mb-0">
                      <span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    <span><a href="#" class="forgot-pass">Forgot Password</a></span> 
                  </div>

                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary" style="padding: 2px 30px; margin-left: 35%;"> <!-- Adjusted padding -->
                  
                  <div class="text-center my-4 text-muted"> or sign in with <a style="color: #21757f;">google</a></div>
                  <div class="text-center my-4 text-muted" style="font-size: 15px;"> Doesn't have an account?  <a href="#" style="color: #978b07;">Create Account</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>