  
@font-face {
  font-family: 'Sodosans';
  src: url('../../../assets/fonts/sodosans/SoDoSans-Regular.woff2') format('woff2'),
       url('../../../assets/fonts/sodosans/SoDoSans-Regular.woff') format('woff');
}

body{
  font-family: 'Sodosans';
}

.content{
  font-family: 'Sodosans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label, button, a, td, tr, input {
  font-family: 'Sodosans';
}
