

body{
  font-family: 'Sodosans';
}
input::placeholder {
  color:#21757f;
  font-size: 14px;
}

.content{
  font-family: 'Sodosans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label, button, a, td, tr, input {
  font-family: 'Sodosans';
}
