
.weatherIcon{
    font-size:7rem;
  }
    
    body {
      color: rgba(var(--color-primary-rgb), 1);
    }
    
    a {
      color: var(--color-links);
      text-decoration: none;
    }
    
    a:hover {
      color: var(--color-links-hover);
      text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Sodosans';
    }
    
    #main {
      margin-top: 90px;
    }
    
    /*--------------------------------------------------------------
    # Sections & Section Header
    --------------------------------------------------------------*/
    section {
      padding: 40px 0;
      overflow: hidden;
    }
    
    .section-header {
      border-bottom: 2px solid var(--color-black);
    }
    
    .section-header h2 {
      font-size: 50px;
      color: var(--color-black);
    }
    
    .section-header p {
      margin-bottom: 0;
    }
    
    /*--------------------------------------------------------------
    # Scroll top button
    --------------------------------------------------------------*/
    .scroll-top {
      position: fixed;
      visibility: hidden;
      opacity: 0;
      left: 25px;
      bottom: 41px;
      z-index: 99999;
      background: var(--color-primary);
      width: 40px;
      height: 40px;
      border-radius: 4px;
      transition: all 0.4s;
    }
    
    .scroll-top i {
      font-size: 24px;
      color: #fff;
      line-height: 0;
    }
    
    .scroll-top:hover {
      background: rgba(var(--color-primary-rgb), 0.8);
      color: #fff;
    }
    
    .scroll-top.active {
      visibility: visible;
      opacity: 1;
    }
    
  
    .weathercard{
      height: 400px;
      width: 134%;
      background-color: rgb(10 60 66);
   
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255,255,255,0.1);
      box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
      border-radius: 8px;
      font-family: 'Sodosans';
      color: #fcfcfc;
  }
  
  
  .weatherh4{
      letter-spacing: 4px;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
      margin: 25px 0 10px 0;
  }
  .weatherh6{
      text-align: center;
      color: #b3b3b3;
      font-size: 15px;
      letter-spacing: 5px;
      font-weight: 300;
      margin-bottom: 25px;
  }
  .weathercard .weatherimg{
    width: 16%;
    margin-top: -4%;
    margin-left: 5%;
  }
  .weatherh1{
      letter-spacing: 2px;
      text-align: center;
      font-size: 50px;
      font-weight: 300;
      margin-top: -12%;
  }
  .weathercontainer{
      width: 70%;
      margin-left: 15%;
      display: grid;
      grid-template-columns: auto auto;
      margin-top: 30px;
  }
  .weatherdetails{
      text-align: center;
      font-size: 23px;
      letter-spacing: 1px;
      font-weight: 600;
  }
  .weatherdetails span{
      color: #b3b3b3;
  }
  .weatherdetails:first-child{
      border-right: 2px solid #fcfcfc;
  }
  
  
  
  
  
  
  
  
  .weathercard-{
    height: 539px;
    width: 307px;
    background-color: rgb(10 60 66);
  
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    border-radius: 8px;
    font-family: 'Sodosans';
    color: #fcfcfc;
  }
  
  @media (max-width: 320px) {
    .weathercard- {
      height: 508px;
      width: 260px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 790px) {
    .weathercard- {
      height: 508px;
      width: 470px;
    }
  }
  
  .weatherh4-{
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 25px 0 10px 0;
  }
  .weatherh6-{
    text-align: center;
    color: #b3b3b3;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 300;
    margin-bottom: 25px;
  }
  .weathercard- .weatherimg-{
    width: 36%;
    margin-top: -3%;
    margin-left: 31%;
  }
  .weatherh1-{
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-top: 2%;
  }
  .weathercontainer-{
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
  }
  .weatherdetails-{
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .weatherdetails- span{
    color: #b3b3b3;
  }
  .weatherdetails-:first-child{
    border-right: 2px solid #fcfcfc;
  }
  