<app-header></app-header>
<app-fab></app-fab>

<div class="header__wrapper">
    <header *ngIf="everythingLoaded" [style.background-image]="'url(' + user.cover_photo + ')'"><button class="header_edit" *ngIf="showSettings" (click)="takePicture('cover')"><i class="bi bi-camera"></i></button></header>
    <header *ngIf="!everythingLoaded"></header>
    <div class="cols__container">






      <div class="left__col">
        <div class="img__container">
            <img *ngIf = "user" [src]="user.profile_photo" alt="Kaila Guerrero" />
            <img *ngIf = "!user" src="../../assets/img/profilepic.png" alt="Kaila Guerrero" />
            <button class="profile_edit" *ngIf="showSettings" (click)="takePicture('pfp')"><i class="bi bi-camera"></i></button> 
        </div>


  <!--       <div class="post-meta">
          <div class="caption-line32"></div>
          <div class="post-caption">
              <div class="caption-line22" style="margin-top: 37px;"></div>
           
            </div>
    
          <div class="post-placeholder1" style="margin-bottom: 20px;"></div>
          <div class="post-caption">
            <div class="caption-line" ></div>
            <div class="caption-line" ></div>
            <div class="caption-line" ></div>
         
          </div>
        </div>  -->


        
        <h2 *ngIf = "user">{{user.fname + ' ' + user.lname}}</h2>
        <p *ngIf = "user">@{{user.uname}}</p>
        <button *ngIf = "showSettings" id="follow-button" (click)="saveChanges()">Save</button>
        <button *ngIf = "showSettings" id="follow-button" (click)="showSettings = false; showSection('blogs');">Cancel</button>
        <!-- <button id="follow-button">Follow</button> -->
        <div *ngIf ="user">
        <button *ngIf="sameUser && !showSettings" id="settings-button" (click)="goToSettings()">
            <i class="bi bi-gear"></i>  
        </button>
        </div>
        <ul class="about" *ngIf = "user">
            <li ><span>{{user.profile_views}}</span>Visits</li>
            <li><span>{{user.posts}}</span>Posts</li>
            <li><span>{{user.views}}</span>Views</li>
        </ul>
        <div class="content">
            <p *ngIf = "user">
                {{user.bio}}
            </p>
        </div>
    </div>

    <div *ngIf="showSettings" class="right__col" style="padding:20px">
        <h1 class="page.title" style="margin-top: 8%;">Profile Settings</h1>
        <form>
    
              <!-- <div class="form-group" style="margin-top:10px" >
                <input [(ngModel)]="edit_uname" type="text" name="edit_uname" class="form-control" id="edit_uname" placeholder="Edit your username">
              </div> -->

              <div class="form-group" style="margin-top:10px">
                <textarea [(ngModel)]="edit_bio" id="edit_bio"  class="form-control" name="edit_bio" rows="7" placeholder="Edit your bio" #textArea></textarea>
              </div>
              

        </form>
       
    </div>
   
        <div *ngIf="!showSettings" class="right__col" style="padding: 20px;">
            <nav>
                <ul>
                  <li><a [class.active]="activeSection === 'blogs'" (click)="showSection('blogs')" data-section="blogs">blogs</a></li>
                  <li><a [class.active]="activeSection === 'photos'" (click)="showSection('photos')" data-section="photos">gallery</a></li>
                  <li><a [class.active]="activeSection === 'badge'" (click)="showSection('badge')" data-section="badge">passport</a></li>
                </ul>
              
            </nav>

          

            <!-- Blogs Section -->
            <div id="blogs" class="blogs__section content-section" >
                <div  class="post-meta" *ngIf = "!everythingLoaded">
                    <div class="caption-line3"></div>
                    <div class="caption-line2"></div>
                    <div class="post-caption">
                        <div class="caption-line" style="margin-top: 37px;"></div>
                        <div class="caption-line"></div>
                        <div class="caption-line" style="margin-bottom: 30px;"></div>
                      </div>
              
                    <div class="post-placeholder" style="margin-bottom: 200px;"></div>
                
                </div>

              <div *ngFor = "let post of postList; let i = index" class="blog__post">
                <div *ngIf = "postList" class="rating" id="rating">
                    <input  [ngModel]="post.rating"  type="radio" id="star5" [name]="'rate_' + i" value="5" /><label for="star5"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star4" [name]="'rate_' + i" value="4" /><label for="star4"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star3" [name]="'rate_' + i" value="3" /><label for="star3"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star2" [name]="'rate_' + i" value="2" /><label for="star2"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star1" [name]="'rate_' + i" value="1" /><label for="star1"></label>
                </div>

                <h4 *ngIf = "postList" (click)="nextPage(post.postID)">{{post.title}}</h4>
                <p (click)="nextPage(post.postID)" *ngIf = "postList">
                    {{truncateString(post.body, 150)}}...
                </p>
                  <img *ngIf = "photoList[i]"(click)="nextPage(post.postID)" [src]="photoList[i]" alt="Blog Post 1" />
              
                 <p *ngIf = "!(postList)">No posts as of the moment</p>
              </div>
            </div>
            
            <!-- End of Blogs Section -->

            <!-- Photos Section -->
            <div id="photos" class="photos content-section">
                <div class="photo-gallery">
                    <img *ngFor = "let photo of galleryPhotos" [src] = "photo.imageUrl" class="zoomable" alt="Photo" />
                </div>
            </div>
            <!-- End of Photos Section -->

            <!-- Modal for Zoomed-in Photo -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close-btn" onclick="closeModal()">&times;</span>
                    <img id="zoomedImg" class="modal-img" src="" alt="Zoomed Photo">
                </div>
            </div>

            <!-- Badge Section -->
            <div id="badge" class="badge__section content-section">
              <div class="containers" >
               
                <div class = "passcont">
                  <img src="../../assets/img/badge1.png" id = "top_rater" class="stamp">
                  <img src="../../assets/img/badge3.png" id = "developer" class="stamp">
                  <img src="../../assets/img/badge4.png" id = "tourease" class="stamp">
                  <img src="../../assets/img/badge5.png" id = "verified" class="stamp">
                  <img src="../../assets/img/badge6.png" id = "nomad" class="stamp">
                  <img src="../../assets/img/badge7.png" id = "tree" class="stamp">

                  <div class ="textInfo">
                    <h6>Username: </h6>
                    <h6>Age: </h6>
                  </div>
                </div>
               <!--  <img src="../../assets/img/pass.png" style="text-align: center;" class="passport" alt="First Blog Post Badge" /> -->
             
                  

              </div>
              
              
          
            </div>
            <!-- End of Badge Section -->
        </div>
    </div>
</div>