/* Styles for default view (laptop) */

.header__wrapper .cols__container .content ul li {
  display: flex;
}
.header__wrapper .cols__container .content ul i {
  font-size: 1.3rem;
}
.header__wrapper .cols__container .right__col nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
  justify-content: space-around;
  flex-direction: row;
}
.header__wrapper .cols__container .right__col nav ul {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.header__wrapper .cols__container .right__col nav ul li a {
  text-transform: uppercase;
  color: #818181;
}
.header__wrapper .cols__container .right__col nav ul li a {
  color: #1d1d1d;
}
.header__wrapper .cols__container .right__col nav button {
  background: #21757f;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 15px;
}
.header__wrapper .cols__container .right__col nav button:hover {
  opacity: 0.8;
}
.header__wrapper .cols__container .right__col .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
}
.header__wrapper .cols__container .right__col .photos img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.content-section {
  display: none;
  transition: transform 0.5s ease-in-out;
}

.content-section.active {
  display: block;
  transform: translateX(0%);
}

.content-section.previous {
  transform: translateX(-100%);
}

.content-section.next {
  transform: translateX(100%);
}

.post-placeholder {
  background-color: #e6e2e2; 
  height: 350px;
  width: 100%; 
}

.post-placeholder1 {
  background-color: #e6e2e2; 
  height: 80px;
  width: 100%; 
}





.post-caption {
  margin-top: 10px; 
}

.caption-line {
  background-color: #e6e2e2; 
  height: 10px;
  margin-bottom: 10px;
  width: 100%; 
}
.caption-line1 {
  background-color:#e6e2e2;
  height: 10px; 
  margin-bottom: 5px; 
  width: 20%; }

.caption-line2 {
  background-color: #e6e2e2; 
  height: 20px;
  margin-top: 39px;
  margin-bottom: 17px;
  width: 23%; 
}

.caption-line22 {
  background-color: #e6e2e2; 
  height: 27px;
  margin-bottom: 33px;
  width: 62%;
  margin-left: 38px;
}
.caption-line3 {
  background-color: #e6e2e2; 
  height: 36px;
  margin-bottom: 17px;
  width:35%;
}

.caption-line32 {
  background-color: #e6e2e2;
  height: 36px;
  margin-top: 42px;
  margin-bottom: -23px;
  width: 100%;
}

nav ul li a.active {
  font-weight: 1000;
  color: #000000; 
  border-bottom: 2px solid #000000; 
  margin-bottom: -2px;
}

.blog__post img {
  width: 679px;
  height: 310px; 
  object-fit: cover; 
  max-width: 100%;
  cursor: pointer; 
}

/* .badge__item {
  text-align: center;
  position: relative;
}

.badge__item img {
    max-width: 760px;
    max-height: 500px; 
    z-index: 1
} */
.places1{
  z-index: 2;
  position: relative;
  margin-top: -55%;
  margin-left: 15%;
}
.places2{
  z-index: 2;
  position: relative;
  margin-left: 15%;
}
@media (min-width:320px) and (max-width:330px){
/*   .badge__item img {
    max-width: 280px;
    max-height: 170px; 
} */


.places1{
  z-index: 2;
  position: relative;
  margin-top: -90%;
  margin-left: 15%;
  font-size: 10px;
}
.places2{
  z-index: 2;
  position: relative;
  margin-left: 15%;
  font-size: 10px;
}
.blog__post img {
  width: 345px;
  height: 180px; 
}

}
@media (min-width: 331px) and (max-width: 500px) {
/*   .badge__item img {
    max-width: 280px;
    max-height: 170px; 
  } */
  .places1{
    z-index: 2;
    position: relative;
    margin-top: -229px;
    margin-left: 22%;
    font-size: 10px;
  }
  .places2{
    z-index: 2;
    position: relative;
    margin-left: 22%;
    font-size: 10px;
  }
}


@media (min-width:768px)and(min-width:868px){
/*   .badge__item img {
    max-width: 581px;
    max-height: 330px;
} */
.blog__post img {
  width: 345px;
  height: 180px; 
}

}

@media (min-width:1024px) and (max-width:1100px){
/*   .badge__item img {
    max-width: 463px; 
    max-height: 301px;
} */

.places1{
  z-index: 2;
  position: relative;
  margin-top: -59%;
  margin-left: 20%;
  font-size: 15px;
}
.places2{
  z-index: 2;
  position: relative;
  margin-left: 20%;
  font-size: 15px;
}
}


.containers {
  position: relative;
}

.passport {
  width: 100%; /* Adjust the width of the image as needed */
}

.text-overlay {
  position: absolute;
  top: 25%;
  left: 35%; /* Adjust the horizontal position of the text */
  transform: translate(-50%, -50%);
  color: white; /* Set the color of the text */
  font-size: 24px; /* Set the font size of the text */
  font-weight: bold; /* Set the font weight of the text */
  text-align: center;
  max-width: 100%; /* Set the text alignment */
}

.text-overlay img{
  width: 45%; /* Set the width relative to the container */
  max-width: 150px; /* Set a maximum width */
  height: auto;
}

/* Add styles for the Settings button */
#settings-button {
  background-color: #21757f;
  color: #fff; 
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  margin-top: 20px; /* Add margin to push the button down */
}

#settings-button:hover {
  background-color: #195960; /* Change to your desired hover color */
}

#follow-button {
  background-color: #21757f; /* Change to your desired background color */
  color: #fff; /* Text color */
  padding: 10px 25px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  margin-top: 20px; /* Add margin to push the button down */
}

#follow-button:hover {
  background-color: #0f383d; /* Change to your desired hover color */
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.photo-gallery img {
  max-width: 100%;
  height: auto;
  cursor: pointer; /* Add cursor style to indicate clickable */
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain; /* Keep image aspect ratio */
}

/* Close button styles */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}


/* Responsiveness */

  
.rating label {
  cursor: pointer;
  width: 20px;
  font-size:20px;
  color: #ddd;
  text-align: center;
}

.rating input[type="radio"]:checked ~ label {
  color: #21757f;
}


.rating input[type="radio"] {
  display: none;
}

.rating label:before {
  content: '\2605';
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
label, button, input, a {
  font-family: 'Sodosans';
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Sodosans';
}

.blog__post{
  border: 1px solid #81818157;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}


@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}