<app-header></app-header>
<app-fab></app-fab>

<div class="header__wrapper">
    <header><button class="header_edit" *ngIf="showSettings"><i class="bi bi-camera"></i></button></header>
    <div class="cols__container">
      <div class="left__col">
        <div class="img__container">
            <img *ngIf = "user" [src]="user.profile_photo" alt="Kaila Guerrero" />
            <button  class="profile_edit" *ngIf="showSettings"><i class="bi bi-camera"></i></button> 
        </div>
        <h2 *ngIf = "user">{{user.fname + ' ' + user.lname}}</h2>
        <p *ngIf = "user">@{{user.uname}}</p>
        <button *ngIf = "showSettings"id="follow-button">Save</button>
        <!-- <button id="follow-button">Follow</button> -->
        <div *ngIf ="user">
        <button *ngIf="sameUser && !showSettings" id="settings-button" (click)="goToSettings()">
            <i class="bi bi-gear"></i>  
        </button>
        </div>
        <ul class="about" *ngIf = "user">
            <li ><span>{{user.profile_views}}</span>Visits</li>
            <li><span>{{user.posts}}</span>Posts</li>
            <li><span>{{user.views}}</span>Views</li>
        </ul>
        <div class="content">
            <p *ngIf = "user">
                {{user.bio}}
            </p>
            <!-- <ul>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook"></i></li>
            </ul> -->
        </div>
    </div>

    <div *ngIf="showSettings" class="right__col" style="padding:20px">
        <h1 class="page.title" style="margin-top: 8%;">Profile Settings</h1>
        <form>
            <!-- <div class="form-group" style="margin-top:3%">
                <input [(ngModel)]="edit_name" type="text" name="edit_name" class="form-control" id="edit_name" placeholder="Edit your name">
            </div> -->
    
              <div class="form-group" style="margin-top:10px" >
                <input [(ngModel)]="edit_uname" type="text" name="edit_uname" class="form-control" id="edit_uname" placeholder="Edit your username">
              </div>

              <div class="form-group" style="margin-top:10px">
                <textarea id="edit_bio"  class="form-control" name="edit_bio" rows="7" placeholder="Edit your bio" #textArea></textarea>
              </div>
              

        </form>
       
    </div>
   
        <div *ngIf="!showSettings" class="right__col" style="padding: 20px;">
            <nav>
                <ul>
                    <li><a class="active" (click)="handleNavigationClick($event)" data-section="blogs">blogs</a></li>
                    <li><a (click)="handleNavigationClick($event)" data-section="photos">gallery</a></li>
                    <li><a (click)="handleNavigationClick($event)" data-section="badge">passport</a></li>
                </ul>
              
            </nav>

          

            <!-- Blogs Section -->
            <div id="blogs" class="blogs__section content-section" >
              <h3>Blogs</h3>
              <div *ngFor = "let post of postList; let i = index" class="blog__post">
                <div *ngIf = "postList" class="rating" id="rating">
<!-- <label style="margin-right: 80px; font-size: 15px;">Rating</label> -->
                    <input  [ngModel]="post.rating" type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                    <input  [ngModel]="post.rating" type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                </div>

                <h4 *ngIf = "postList" (click)="nextPage(post.postID)">{{post.title}}</h4>
                <p (click)="nextPage(post.postID)" *ngIf = "postList">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
                    dolor at eros vehicula hendrerit.
                </p>
                  <img *ngIf = "photoList[i]"(click)="nextPage(post.postID)" [src]="photoList[i]" alt="Blog Post 1" />
              
                 <p *ngIf = "!(postList)">No posts as of the moment</p>
              </div>
            </div>
            
            <!-- End of Blogs Section -->

            <!-- Photos Section -->
            <div id="photos" class="photos content-section">
                <h3>Photos</h3>
                <div class="photo-gallery">
                    <img class="zoomable" src="../../assets/img/img_1.avif" alt="Photo" />
                    <img class="zoomable" src="../../assets/img/img_2.avif" alt="Photo" />
                    <img class="zoomable" src="../../assets/img/img_3.avif" alt="Photo" />
                    <img class="zoomable" src="../../assets/img/img_4.avif" alt="Photo" />
                    <img class="zoomable" src="../../assets/img/img_5.avif" alt="Photo" />
                    <img class="zoomable" src="../../assets/img/img_6.avif" alt="Photo" />
                </div>
            </div>
            <!-- End of Photos Section -->

            <!-- Modal for Zoomed-in Photo -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close-btn" onclick="closeModal()">&times;</span>
                    <img id="zoomedImg" class="modal-img" src="" alt="Zoomed Photo">
                </div>
            </div>

            <!-- Badge Section -->
            <div id="badge" class="badge__section content-section">
              <h3>Passport</h3>
              <img src="../../assets/img/passport.png" style="max-width: 100%; max-height: 100vh;" alt="First Blog Post Badge" />
              <div class="badge__item">
                  <h4>My Passport</h4>
                  <p>
                      Congratulations on your new passport! You've officially
                      joined the blogging community.
                  </p>
              </div>
              <h5 class="places1">Villa Neyra</h5>
              <h5 class="places2">La Verginia</h5>
          
            </div>
            <!-- End of Badge Section -->
        </div>
    </div>
</div>