<div class="bodycont">


<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="../../assets/img/reg.png" alt="">
                <!-- <div class="signup-img-content">
                    <h2>Register now </h2>
                    <p>while seats are available !</p>
                </div> -->
            </div>
            <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                    <div>
                        <h2>Register now </h2>
                        <p>Embark on Your Journey with Us! Join TourEase and Unlock a world of Travel Possibilities.</p>
                    </div>
                    <div class="form-row">
                        
                        <div class="form-group">
                           
                            <div class="form-input">
                                <label for="first_name" class="required">First name</label>
                                <input type="text" name="first_name" id="first_name" />
                            </div>
                            <div class="form-input">
                                <label for="last_name" class="required">Last name</label>
                                <input type="text" name="last_name" id="last_name" />
                            </div>

                            <div class="form-input">
                                <label for="middle_name" class="required">Middle name</label>
                                <input type="text" name="middle_name" id="middle_name" />
                            </div>

                         
                           
                           
                        </div>

                        

                        <div class="form-group">
                            <div class="form-select margin">
                                <div class="label-flex">
                                    <label for="meal_preference">Gender</label>
                                </div>
                                <div class="select-list">
                                    <select name="meal_preference" class="selects"id="meal_preference">
                                        <option value="Vegetarian">Male</option>
                                        <option value="Kosher">Female</option>
                                        <option value="Asian Vegetarian">Rather Not Say</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="form-radio">
                                <div class="label-flex">
                                    <label for="payment">Payment Mode</label>
                                    <a href="#" class="form-link">Payment Detail</a>
                                </div>
                                <div class="form-radio-group">            
                                    <div class="form-radio-item">
                                        <input type="radio" name="payment" id="cash" checked>
                                        <label for="cash">Cash</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="payment" id="cheque">
                                        <label for="cheque">Cheque</label>
                                        <span class="check"></span>
                                    </div>
                                    <div class="form-radio-item">
                                        <input type="radio" name="payment" id="demand">
                                        <label for="demand">Demand Draf</label>
                                        <span class="check"></span>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-input" style="margin-top: -13%;">
                                <label for="bday">Birthday</label>
                                <input type="date" name="bday" id="bday" />
                            </div>
                            <div class="form-input">
                                <label for="phone_number" class="required">Phone number</label>
                                <input type="text" name="phone_number" id="phone_number" />
                            </div>
                       
                         
                         
                        
                        </div>

                        
                    </div>

                       
                    <div class="form-input">
                        <label for="email" class="required">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>

                    <div class="form-input">
                        <label for="country" class="required">Country</label>
                        <input type="text" name="country" id="country" />
                    </div>

                    
                    <div class="form-input">
                        <label for="prov" class="required">Province</label>
                        <input type="text" name="prov" id="prov" />
                    </div>

                    
                    <div class="form-input">
                        <label for="city" class="required">City/Municipality</label>
                        <input type="text" name="city" id="city" />
                    </div>

                    
                    <div class="form-input">
                        <label for="exact" class="required">Exact Address</label>
                        <input type="text" name="exact" id="exact" />
                    </div>

                    <div class="form-group">
                        <div class="form-input">
                            <label for="uname">Username</label>
                            <input type="text" name="uname" id="uname" />
                        </div>

                    </div>
                    <div class="form-row">
                    
                        <div class="form-group">
                            <div class="form-input">
                                <label for="uname">Password</label>
                                <input type="text" name="uname" id="uname" />
                            </div>
                         
                        </div>

                        <div class="form-group">
                            <div class="form-input">
                                <label for="uname">Re-enter Password</label>
                                <input type="text" name="uname" id="uname" />
                            </div>
                         
                          

                        </div>
                </div>
                    
                   

                       


                    

                   <!--  <div class="donate-us">
                        <label>Donate us</label>
                        <div class="price_slider ui-slider ui-slider-horizontal">
                            <div id="slider-margin"></div>
                            <span class="donate-value" id="value-lower"></span>
                        </div>
                    </div> -->
                    <div class="form-submit">
                        <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                        <input type="submit" value="Reset" class="submit" id="reset" name="reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div>