<div class="bodycont">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12 text-center mb-5 name-">
                        <h1 class="page-title">Register Now!</h1>
                    </div>
                </div>
            
                <div class="row gy-4 pad">
                    <h5 class="moretext" style = "text-align: center; margin-top: -1%;">Embark on Your Journey with Us! Join TourEase and Unlock a world of Travel Possibilities.</h5>
                </div>

    
        <div class="form mt-5">
            <form #registerForm="ngForm" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="first_name">First Name<span style="color: red; margin-left: 5px;">*</span></label>
                    <input required autocomplete="off" class="form-control" [(ngModel)]="fname" type="text" name="first_name" id="first_name" placeholder="Juan" />
                  </div>

                  <div class="form-group col-md-4">
                    <label for="middle_name">Middle name <span style="color: red; margin-left: 5px;">*</span></label>
                    <input required autocomplete="off" class="form-control" [(ngModel)]="mname" type="text" name="middle_name" id="middle_name" placeholder="Sanchez"/>
                  </div>
                  
                  <div class="form-group col-md-4">
                    <label for="last_name">Last Name <span style="color: red; margin-left: 5px;">*</span></label>
                    <input required autocomplete="off" class="form-control" [(ngModel)]="lname" type="text" name="last_name" id="last_name" placeholder="Dela Cruz" />
                  </div>

                  
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Gender <span style="color: red; margin-left: 5px;">*</span></label>
                        <select required [(ngModel)]="gender" style ="width:100%" name="gender">
                            <option [ngValue] ="null" disabled selected>Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Rather Not Say">Rather Not Say</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="bday">Birthday <span style="color: red; margin-left: 5px;">*</span></label>
                        <input required class="form-control" [(ngModel)]="bday" type="date" name="bday" id="bday" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="phone_number">Contact number <span style="color: red; margin-left: 5px;">*</span></label>
                        <input required autocomplete="off" class="form-control" [(ngModel)]="contact" type="tel" name="phone_number" id="phone_number"  placeholder="0900-000-0000" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email address <span style="color: red; margin-left: 5px;">*</span></label>
                        <input required autocomplete="off" class="form-control" [(ngModel)]="email" type="email" name="email" id="email"  placeholder="example@gmail.com"/>
                    </div>
                </div>
                 
                <div class="form-group">
                    <label for="country">Country <span style="color: red; margin-left: 5px;">*</span></label>
                    <select name = "country" [(ngModel)]="country" class="form-control" required>
                        <option *ngFor = "let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                    
                </div>

                <div class="form-group">
                    <label for="prov">Province <span style="color: red; margin-left: 5px;">*</span></label>
                    <input required autocomplete="off" class="form-control"  [(ngModel)]="province" type="text" name="prov" id="prov"  placeholder="e.g. Batangas, Lipa"/>
                </div>
                
                <div class="form-group">
                    <label for="city">City <span style="color: red; margin-left: 5px;">*</span></label>
                    <input required autocomplete="off" class="form-control"  [(ngModel)]="city" type="text" name="city" id="city"  placeholder="e.g. Batangas City, Lipa City"/>
                </div>
                
                <div class="form-group">
                    <label for="exact">Exact address</label>
                    <input  autocomplete="off" class="form-control"  [(ngModel)]="exact_add" type="text" name="exact" id="exact"  placeholder="House no./ Lot no./ Street"/>
                </div>
                
                <div class="form-group">
                    <label for="uname">Username <span style="color: red; margin-left: 5px;">*</span></label>
                    <input required autocomplete="off" class="form-control"  [(ngModel)]="uname" type="text" name="uname" id="uname"  placeholder="example123"/>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="pword">Password <span style="color: red; margin-left: 5px;">*</span></label>
                        <input required autocomplete="off" class="form-control"  [(ngModel)]="pword" type="password" name="pword" id="pword"  placeholder="*******"/>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="pword2">Confirm Password <span style="color: red; margin-left: 5px;">*</span></label>
                        <input required autocomplete="off" class="form-control" [(ngModel)]="pword2" type="password" name="pword2" id="pword2"  placeholder="********"/>
                    </div>
                </div>   
                                
                
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center">
                    <label style="margin-bottom: 10px;">
                        <input type="checkbox" name="terms" required>
                        By clicking submit you automatically <br> agree to the <a href="https://www.termsandconditionsgenerator.com/live.php?token=rJWIHsDElh96Z56bkJbICtVCvWUMcYYB&fbclid=IwAR04eQrxMjprk5N-IldTYyQqTJKdxfcmzvgGZldCAoIwlgQHb24F8Kin3Qc" target="_blank" style="color:#21757f"> Terms and Conditions</a> of TourEase.
                    </label>
                    <br>
                    <button (click)="checkUsername()" type="submit" class="submit" id="submit" style="margin-right: 20px">Submit</button>
                    <button (click)="reset()" class="submit" type="submit">Reset</button>
                </div>
                
              </form>
            </div><!-- End Contact Form -->
    
          </div>
        </section>
    
      </main>




    
<!-- 
<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="../../assets/img/reg.png" alt="">
           
            </div>
            <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                    <div>
                        <h2>Register now </h2>
                        <p>Embark on Your Journey with Us! Join TourEase and Unlock a world of Travel Possibilities.</p>
                    </div>
                    <div class="form-row">
                        
                        <div class="form-group">
                           
                            <div class="form-input">
                                <label for="first_name" class="required">First name</label>
                                <input [(ngModel)]="fname" type="text" name="first_name" id="first_name" />
                            </div>
                            <div class="form-input">
                                <label for="last_name" class="required">Last name</label>
                                <input [(ngModel)]="lname" type="text" name="last_name" id="last_name" />
                            </div>

                            <div class="form-input">
                                <label for="middle_name" class="required">Middle name</label>
                                <input [(ngModel)]="mname" type="text" name="middle_name" id="middle_name" />
                            </div>

                         
                           
                           
                        </div>

                        

                        <div class="form-group">
                            <div class="form-select margin">
                                <div class="label-flex">
                                    <label for="gender">Gender</label>
                                </div>
                                <div class="select-list">
                                    <select class="formselect" [(ngModel)]="gender" name="gender" class="selects"id="meal_preference">
                                        <option value="Vegetarian">Male</option>
                                        <option value="Kosher">Female</option>
                                        <option value="Asian Vegetarian">Rather Not Say</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-input" style="margin-top: -13%;">
                                <label for="bday">Birthday</label>
                                <input [(ngModel)]="bday" type="date" name="bday" id="bday" />
                            </div>
                            <div class="form-input">
                                <label for="phone_number" class="required">Phone number</label>
                                <input [(ngModel)]="contact" type="text" name="phone_number" id="phone_number" />
                            </div>
                       
                         
                         
                        
                        </div>

                        
                    </div>

                       
                    <div class="form-input">
                        <label for="email" class="required">Email</label>
                        <input [(ngModel)]="email" type="text" name="email" id="email" />
                    </div>

                    <div class="form-input">
                        <label for="country" class="required">Country</label>
                        <input [(ngModel)]="country" type="text" name="country" id="country" />
                    </div>

                    
                    <div class="form-input">
                        <label for="prov" class="required">Province</label>
                        <input [(ngModel)]="province" type="text" name="prov" id="prov" />
                    </div>

                    
                    <div class="form-input">
                        <label for="city" class="required">City/Municipality</label>
                        <input [(ngModel)]="city" type="text" name="city" id="city" />
                    </div>

                    
                    <div class="form-input">
                        <label for="exact" class="required">Exact Address</label>
                        <input [(ngModel)]="exact_add" type="text" name="exact" id="exact" />
                    </div>

                    <div class="form-group">
                        <div class="form-input">
                            <label for="uname">Username</label>
                            <input [(ngModel)]="uname" type="text" name="uname" id="uname" />
                        </div>

                    </div>
                    <div class="form-row">
                    
                        <div class="form-group">
                            <div class="form-input">
                                <label for="pword">Password</label>
                                <input [(ngModel)]="pword" type="text" name="pword" id="pword" />
                            </div>
                         
                        </div>

                        <div class="form-group">
                            <div class="form-input">
                                <label for="pword2">Re-enter Password</label>
                                <input [(ngModel)]="pword2" type="text" name="pword2" id="pword2" />
                            </div>
                         
                          

                        </div>
                </div>
                    
                   

                       


                    

                
                    <div class="form-submit">
                        <button class="submit" id="reset">Reset</button>
                        <button (click)="signUp()" type="submit" class="submit" id="submit">Submit</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</div> -->