<app-header></app-header>
<app-fab></app-fab>
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<div class="header__wrapper">

    <header><button class="header_edit" (click)="triggerFileInput()"><i class="bi bi-camera"></i></button></header>
   
    <div class="cols__container">
      <div class="left__col">

        <div class="img__container">
            <img src="../../assets/img/kai_profile.jpg" alt="Kaila Guerrero" (click)="triggerFileInput()"/>
                  <button  class="profile_edit" (click)="triggerFileInput()"><i class="bi bi-camera"></i></button> 
            

            <input #fileInput type="file" style="display:none" (change)="handleFileUpload($event)">

        </div>
       
        <h2>Kaila Guerrero</h2>
        <p>@guerrerokai</p>
        <button id="follow-button">Save</button>
    
        <ul class="about">
            <li><span>4,073</span>Followers</li>
            <li><span>322</span>Following</li>
            <li><span>200,543</span>Blog Posts</li>
        </ul>
        <div class="content">
            
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
                erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
                ligula egestas nulla.
            </p>
            <ul>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook"></i></li>
            </ul>
            
        </div>
    </div>


    <div class="right__col" style="padding:20px">
        <h1 class="page.title" style="margin-top: 8%;">Account Settings</h1>
        <form>
            <div class="form-group" style="margin-top:3%">
                <input type="text" name="edit_name" class="form-control" id="edit_name" placeholder="Edit your name" required>
         </div>
    
              <div class="form-group" style="margin-top:10px" >
                <input type="text" name="edit_name" class="form-control" id="edit_name" placeholder="Edit your username" required>
              </div>

              <div class="form-group" style="margin-top:10px">
                <textarea id="post_body"  class="form-control" name="post" rows="7" placeholder="Edit your bio" required #textArea></textarea>
              </div>
              

        </form>
       
    </div>
</div>